openai
transformers
langchain
chromadb
faiss-cpu
sentence-transformers
jupyterlab
pandas
numpy
matplotlib
scikit-learn
requests
python-dotenv
ipywidgets
pyarrow
gradio
tiktoken
langchain-openai
langchain-core
langchain-community
